Xml & Web Services/soap-tp1/ws-client/src/main/java/wsProxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.ws.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.ws.org/" name="BankServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.ws.org/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="convert">
<part name="parameters" element="tns:convert"/>
</message>
<message name="convertResponse">
<part name="parameters" element="tns:convertResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<portType name="bankServiceWS">
<operation name="convert">
<input wsam:Action="http://impl.ws.org/bankServiceWS/convertRequest" message="tns:convert"/>
<output wsam:Action="http://impl.ws.org/bankServiceWS/convertResponse" message="tns:convertResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://impl.ws.org/bankServiceWS/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://impl.ws.org/bankServiceWS/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://impl.ws.org/bankServiceWS/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://impl.ws.org/bankServiceWS/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
</portType>
<binding name="bankServiceWSPortBinding" type="tns:bankServiceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankServiceImplService">
<port name="bankServiceWSPort" binding="tns:bankServiceWSPortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>